body {
  margin: 0;
  padding: 0;
}

.Booklist {
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  max-width: 1120px;
}

img {
  width: 400px;
}

.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  border: 1px solid black;
  padding: 50px 60px;
}

input {
  margin: 10px 5px;
}
.submit-button {
  margin-top: 20px;
  margin-left: 100px;
  cursor: pointer;
}

p {
  color: red;
}
